<mat-toolbar style="background-color: #274e72;" color="primary">
  <div class="container">

    <div class="right-buttons">
      <a routerLink="/" mat-fab [style.background-color]="'#548ec4'" style="height: 45px; width: 45px;">
        <mat-icon style="color: #000000;">home</mat-icon>
      </a>
      <a routerLink="/rooms" mat-raised-button>Rooms</a>
      <a routerLink="/staff" mat-raised-button>Staff</a>
    </div>

  </div>
  <div class="left-buttons">
    <a routerLink="/" mat-raised-button>Logout</a>
  </div>
</mat-toolbar>

<div class="page-content">
  <h1 style="display: block;">Welcome Manager..!</h1>
  <!-- <h3 style="display: block;">Please Register/Login to Continue</h3> -->
</div>
