<div>
  <mat-toolbar style="background-color: #274e72;" color="primary">
    <div class="container">

      <div class="right-buttons">
        <a routerLink="/" mat-fab [style.background-color]="'#548ec4'" style="height: 45px; width: 45px;">
          <mat-icon style="color: #000000;">home</mat-icon>
        </a>
        <a routerLink="/rooms" mat-raised-button>Rooms</a>
        <a routerLink="/staff" mat-raised-button>Staff</a>
      </div>

    </div>
  </mat-toolbar>
</div>

<br>
<div class="page-header">
  <div class="container">
    <h1>View Staff Details</h1>
  </div>
</div>

<div class="container">
  <div class="row top-row">
    <div class="col-xs-12 row end-xs">
      <a routerLink="/staff" color="primary" mat-raised-button class="small-button">
        <mat-icon>chevron_left</mat-icon>
        Go Back
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <form #RoomDetails="ngForm" class="example-form" >

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Employee Name</mat-label>
              <input type="text" matInput [(ngModel)]="staffData.employeeName" name="employeeName">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Age</mat-label>
              <input type="number" matInput [(ngModel)]="staffData.age" name="age">
            </mat-form-field>
          </div>

          <div class="col-xs-6">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Address</mat-label>
              <input type="text" matInput [(ngModel)]="staffData.employeeAddress" name="employeeAddress">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Email Id</mat-label>
              <input type="text" matInput [(ngModel)]="staffData.email" name="email">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Phone Number</mat-label>
              <input type="text" matInput [(ngModel)]="staffData.phoneNumber" name="phoneNumber">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline"  class="example-full-width">
              <mat-label>Designation</mat-label>
              <mat-select [(ngModel)]="staffData.designation" name="designation">
                <mat-option value="House Keeper">House Keeper</mat-option>
                <mat-option value="Event Manager">Event Manager</mat-option>
                <mat-option value="Supervisor">Supervisor</mat-option>
                <mat-option value="Food Delivery">Food Delivery</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-xs-12">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Salary</mat-label>
              <input type="number" matInput [(ngModel)]="staffData.salary" name="salary">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="button-container">
              <button mat-raised-button color="primary" (click)="onUpdate()">Save</button>
              <div class="spacer"></div>
              <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


