<!-- manager -->
<!-- <mat-toolbar color="primary">
  <div class="container">
    <a routerLink="/" mat-fab color="accent">
      <mat-icon>home</mat-icon>
    </a>
    <a routerLink="/rooms" mat-raised-button>Rooms</a>
    <a routerLink="/staff" mat-raised-button>Staff</a>
  </div>
</mat-toolbar> -->

<!-- owner -->
<!-- <mat-toolbar color="primary">
  <div class="container">
    <a routerLink="/" mat-fab color="accent">
      <mat-icon>home</mat-icon>
    </a>
    <a routerLink="/departments" mat-raised-button>Departments</a>
    <a routerLink="/" mat-raised-button>Reports</a>
  </div>
</mat-toolbar> -->

<!-- receptinist -->
<!-- <mat-toolbar color="primary">
  <div class="container">
    <a routerLink="/" mat-fab color="accent">
      <mat-icon>home</mat-icon>
    </a>
    <a routerLink="/guests" mat-raised-button>Guest Details</a>
    <a routerLink="rooms/search" mat-raised-button>Search Room</a>
  </div>
</mat-toolbar> -->

<!-- <mat-toolbar color="primary" *ngIf="loggedInRole === 'receptionist'">
  <div class="container">
    <a routerLink="/" mat-fab color="accent">
      <mat-icon>home</mat-icon>
    </a>
    <a routerLink="/guests" mat-raised-button>Guest Details</a>
    <a routerLink="rooms/search" mat-raised-button>Search Room</a>
  </div>
</mat-toolbar> -->

<!-- <mat-toolbar color="primary">
  <div class="container">
    <a routerLink="/" mat-fab color="accent">
      <mat-icon>home</mat-icon>
    </a>
    <a routerLink="/register" mat-raised-button>Register</a>
    <a routerLink="/login" mat-raised-button>Login</a>
  </div>
</mat-toolbar> -->
